/**********************************************************
Sticky Footer do Twitter Bootstrap
**********************************************************/

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #F5F5F5;
}


/**********************************************************
Estilos gerais
**********************************************************/

.container {
	margin-top: 20px;
}

.header {
	box-shadow: 0 4px 4px -2px rgba(102, 102, 102, 0.5);
	padding-bottom: 13px;
	margin-bottom: 50px;
}

.header-logo {
	float: right;
}

.header-logo > img {
	width: 300px;
}

.header-nav {
	list-style: none;
	display: inline-block;
	padding-left: 20px;
	float: left;
}

.header-nav-item {
	display: inline-block;
	margin-right: 10px;
}

.active > a {
	color: #DA251C;
}

.btn-nav {
	color: white;
	background-color: #0E3E88;
	font-size: 20px;

	-webkit-transition: color 150ms linear;
	-moz-transition: color 150ms linear;
	-ms-transition: color 150ms linear;
	-o-transition: color 150ms linear;
	transition: color 150ms linear;
}

.btn-nav:hover, .btn-nav:focus, .btn-nav:active, .btn-nav.active {
	background-color: #0E3E88;
	color: #DA251C;
}

.footer-item {
	padding-left: 0
}

.footer-logo {
	width: 32px;
}



/**********************************************************
Estilos da página de início
**********************************************************/

.item {
	margin: 0 auto;
	width: 80%;
	padding: 20px 15px;
	position: relative;
	margin-top: 60px;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	transition: all 200ms linear;
}

.item-img {
	position: relative;
}

.item:hover {
	background-color: #F5F5F5;
}

.item:hover .sprite {
	-webkit-animation: jump 0.3s; /* Chrome, Safari, Opera */
    animation: jump 0.3s;
}

.item-descricao {
	margin-top: 20px;
}

.item-link {
	margin-top: 10px;
}

.sprite {
	background: url('../img/sprite.png') no-repeat;
}

.sprite-listar {
	background-position: -107px 0;
	width: 104px;
	height: 104px;
	position: relative;
	display: inline-block;
}

.sprite-cadastrar {
	background-position: 0 0;
	width: 104px;
	height: 104px;
	position: relative;
	display: inline-block;
}

.sprite-footer-logo {
	background-position: -219px 0;
	width: 32px;
	height: 26px;
	display: inline-block;
}


/**********************************************************
Estilos da página 'listar'
**********************************************************/

.table-lista {
	margin-top: 30px;
}

.table-lista, .table-lista th {
	text-align: center;	
}

.table-acoes {
	width: 25%;
}

.table-btn-editar {
	margin-right: 30px;
}

#lista .td-align {
	position: relative; 
	top: 5px;
}

.filter-form {
	padding-top: 30px;
}

#remover-fade {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}

#remover-box {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
    width: 800px;
    margin-left: -400px;
    text-align: center;
    padding: 20px;
    border: 2px solid #FFF;
    border-radius: 5px;
    background: #FFFFFF;
    z-index:1002;
    overflow:visible;
}

#remover-box h3 {
	margin: 0 0 20px 0;
}

#remover-box .btn-remover{
	margin-right: 15px;
}


/**********************************************************
Estilos da página 'cadastrar'
**********************************************************/

.form-cadastrar {
	margin-top: 40px;
}

#submit + span {
	margin-left: 15%;
	color: #a94442;
}

#cadastro-aviso {
	display: none;
	font-size: 1.5em;
	padding: 20px;
	border-radius: 8px;
	margin: 0 auto;
	width: 390px;
	text-align: center;
}

#cadastro-aviso > span {
	color: green;
}


/**********************************************************
Estilos da página 'editar'
**********************************************************/

#edit-aviso > span {
	color: green;
}

#edit-aviso {
	display: none;
	position: absolute;
	text-align: center;
	left: 20%;
	font-size: 1.4em;
	padding: 13px 10px;
	border-radius: 8px;
}


/* Animate das imagens */

@-webkit-keyframes jump {
	0% {bottom: 0;}
    33%  {bottom: 8px;}
    66% {bottom: -3px;}
    100% {bottom: 0;}
}

@keyframes jump {
    50%  {bottom: -5px;}
    100% {bottom: 0;}
}


/* Responsividade para o logo e footer*/

@media only screen and (max-device-width : 768px) {
	.footer-copyright, .footer-developed {
		display: none;
	}
}

@media only screen and (max-device-width : 526px) {
	.header-logo {
		display: none;
	}
}